@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #22272E;
  --header-background-color: #1C2128;
}

body {
  background: var(--background-color);
}

.main-header {
  background: var(--header-background-color);
}

.nav-row {
  width: -webkit-fill-available;
}

.searchbar-main {
  width: -webkit-fill-available;
}

.nav-row-links {
  justify-content: space-between;
}